

/* Nav Section Styles */
.navbar {
  /* background-color: #5c636e; */
  background-color: #1d97c1;
}

.navbar-item {
  color: #ffffff;
}


/* Hero Section Styles */
.hero {
  background-color: #393e46;
  border-bottom: 8px solid #1d97c1;
}

.hero-body p {
  color: #ffffff;
}


/* About Section Styles */
.about  {
  padding: 30px 0px;
}

.about h2 {
  padding-bottom: 15px;
  text-align: center;
}


/* Project Section Styles */
.projects {
  background-color: #f0f0f0;
  padding: 30px 0px;
}

.projects h2 {
  padding-bottom: 15px;
  text-align: center;
}

.projectImage {
  border-radius: 12px;
}


/* Talks Section Styles */
.talks {
  padding: 30px 0px;
}

.talks h2 {
  padding-bottom: 15px;
  text-align: center;
}

.talkImage {
  border-radius: 12px;
}


/* Contact Section Styles */
.contact {
  background-color: #393e46;
  padding: 30px 0px;
}

.contact h2 {
  padding-bottom: 15px;
  text-align: center;
}

.contact h2, .contact h6, .contact label {
  color: #ffffff;
}

.input, .textarea {
  background-color: #5c636e;
  margin-bottom: 10px;
}

#submitButton {
  float: right;
}


/* Footer Section Styles */
.footer {
  background-color: #5c636e;
  text-align: center;
  padding: 25px 0px;
}

.footer p {
  color: #ffffff;
  font-size: 0.8em;
}

.footer span {
  color: #1d97c1;
}

.toastRow {
  display: flex;
  justify-content: center;
}
#successToast, #errorToast {
  visibility: hidden;
  opacity: 1;
  min-width: 250px;
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 15px 10px;
  position: fixed;
  z-index: 1;
}

#successToast.show, #errorToast.show {
  visibility: visible;
  animation-name: toastSlide;
  animation-duration: 2.5s;
}

@keyframes toastSlide {
  0% { bottom: 0px; opacity: 0 }
  25% { bottom: 30px; opacity: 1; }
  90% { bottom: 30px; opacity: 1; }
  100% { bottom:0px; opacity: 0; }
}

@-webkit-keyframes toastSlide {
  0% { bottom: 0px; opacity: 0 }
  25% { bottom: 30px; opacity: 1; }
  90% { bottom: 30px; opacity: 1; }
  100% { bottom:0px; opacity: 0; }
}

/* Talks pages styles */

.talkHero h2 {
  color: #ffffff;
  text-align: center;
}

.talkAbout {
  padding: 10px 0px;
}
