

/* Nav Section Styles */
.navbar {
  /* background-color: #5c636e; */
  background-color: #1d97c1;
}

.navbar-item {
  color: #ffffff;
}


/* Hero Section Styles */
.hero {
  background-color: #393e46;
  border-bottom: 8px solid #1d97c1;
}

.hero-body p {
  color: #ffffff;
}


/* About Section Styles */
.about  {
  
}

.about h2 {
  padding-bottom: 15px;
  text-align: center;
}


/* Project Section Styles */
.projects {
  background-color: #f0f0f0;
}

.projects h2 {
  padding-bottom: 15px;
  text-align: center;
}

.projectImage {
  border-radius: 12px;
}


/* Talks Section Styles */
.talks {
  border-bottom: 8px solid #1d97c1;
}

.talks h2 {
  padding-bottom: 15px;
  text-align: center;
}

.talkImage {
  border-radius: 12px;
  height: 200px;
}


/* Contact Section Styles */
.contact {
  background-color: #393e46;
}


/* Footer Section Styles */
.footer {
  background-color: #5c636e;
}
